<a href="https://colab.research.google.com/github/JohannesKarwou/notebooks/blob/main/rbfe_plots_paper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
pd.read_csv("notebooks/data/summary.csv")

      System    ligand        TF  ...  Unnamed: 11       RMSE       MUE
0   Galectin  l2 -> l7 -0.836445  ...          NaN   0.964786  0.982235
1   Galectin  l3 -> l2 -0.241771  ...          NaN   0.058453  0.241771
2   Galectin  l4 -> l3 -0.607020  ...          NaN   0.017902  0.133800
3   Galectin  l4 -> l8 -1.377946  ...          NaN   0.375949  0.613146
4   Galectin  l5 -> l2 -0.364754  ...          NaN   0.330068  0.574516
5   Galectin  l6 -> l1 -1.908979  ...          NaN   0.556980  0.746311
6   Galectin  l7 -> l1 -1.305494  ...          NaN   0.029802  0.172634
7       CDK2        20  0.260853  ...          NaN   0.077923  0.279147
8       CDK2        21 -0.585470  ...          NaN   0.055446  0.235470
9       CDK2        22 -0.291772  ...          NaN   0.000797  0.028228
10      CDK2        26  0.246528  ...          NaN   0.000012  0.003472
11      CDK2        28  1.317971  ...          NaN   2.598638  1.612029
12      CDK2        29 -0.220352  ...          NaN   3.687752  1.920352
13      CDK2        30  0.303709  ...          NaN   1.759047  1.326291
14      CDK2        31  0.849965  ...          NaN   0.260135  0.510035
15      CDK2      1h1q  0.000000  ...          NaN   0.000000  0.000000
16      CDK2      1h1s  0.599349  ...          NaN   6.104116  2.470651
17      CDK2      1oi9  1.002021  ...          NaN   0.311340  0.557979
18      CDK2      1oiu  1.270119  ...          NaN   0.136988  0.370119
19      CDK2      1oiy  0.501903  ...          NaN   1.227880  1.108097
20      2RA0   a -> bt -0.957137  ...          NaN   0.242914  0.492863
21      2RA0    c -> f  0.395151  ...          NaN   0.970522  0.985151
22      2RA0    e -> f -0.873882  ...          NaN   2.091256  1.446118
23      2RA0    c -> d  4.025750  ...          NaN   0.443223  0.665750
24      2RA0    c -> g  0.419687  ...          NaN   0.607912  0.779687
25      2RA0    i -> k -0.008148  ...          NaN   8.654496  2.941852
26      2RA0    h -> c -1.069125  ...          NaN   2.187811  1.479125
27      2RA0    h -> k  0.432953  ...          NaN   0.104299  0.322953
28      2RA0    c -> e  1.320000  ...          NaN   0.168100  0.410000
29      2RA0    d -> e -2.540000  ...          NaN   0.828100  0.910000
30      2RA0    d -> g -2.987000  ...          NaN   0.537289  0.733000
31      TYK2    ejm_31  0.000000  ...          NaN   0.000000  0.000000
32      TYK2    ejm_42  0.527546  ...          NaN   0.082683  0.287546
33      TYK2    ejm_43 -2.875996  ...          NaN   2.547204  1.595996
34      TYK2    ejm_44       NaN  ...          NaN   4.494400  2.120000
35      TYK2    ejm_45  0.366629  ...          NaN   0.120151  0.346629
36      TYK2    ejm_46 -0.450130  ...          NaN   4.928978  2.220130
37      TYK2    ejm_47 -0.135756  ...          NaN   0.087472  0.295756
38      TYK2    ejm_48 -1.251684  ...          NaN   0.506494  0.711684
39      TYK2    ejm_49 -1.615212  ...          NaN   0.030551  0.174788
40      TYK2    ejm_50  1.387801  ...          NaN   3.793930  1.947801
41      TYK2    ejm_54 -1.691678  ...          NaN   7.191395  2.681678
42      TYK2    ejm_55  0.488736  ...          NaN   0.670328  0.818736
43      TYK2    jmc_23  0.000112  ...          NaN   4.665114  2.159888
44      TYK2    jmc_28 -1.732272  ...          NaN  10.063308  3.172272
45      TYK2    jmc_30 -1.149235  ...          NaN   6.498597  2.549235
46       NaN       NaN       NaN  ...          NaN        NaN       NaN
47       NaN       NaN       NaN  ...          NaN   1.327555  1.002933

[48 rows x 14 columns]